@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

html, body {
  background-color: lightgray;
  margin: 0;
}

.grid-container {
  max-width: 1024px;
  margin: auto;
}

.grid-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  padding: 16px;
  border-radius: 2px;
  float: left;
  box-sizing: border-box;
}

.grid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 420px) {
  .grid-card {
    margin: 8px;
    width: calc(100% - 16px);
  }
  label, input[type=time] {
    width: 100%;
    display: block;
  }
}

@media (min-width: 420px) {
  .grid-card {
    margin: 8px;
    width: calc(50% - 16px);
  }
}

@media (min-width: 840px) {
  .grid-card {
    margin: 8px;
    width: calc(33.3333333333% - 16px);
  }
  label, input[type=time] {
    display: inline;
  }
}

.card-content p:first-child {
  margin-top: 0;
}

.card-content p:last-child {
  margin-bottom: 0;
}

.card-content p {
  white-space: pre-wrap;
}

.card-topright {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

html, body, button {
  font-family: 'Source Serif Pro', serif !important;
}

h3 {
  margin-top: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.expand-icon-outer {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  transition: 5s all;
  transition: 0.2s color;
  cursor: pointer;
}

.expand-icon-middle {
  display: table-cell;
  vertical-align: middle;
}
.expand-icon-inner {
  font-size: 4em;
}
.card-full-width {
  width: calc(100% - 16px);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.expand-icon-middle i {
  font-size: 2em;
}

.hidden {
  display: none;
}

.align-right {
  text-align: right;
  padding-top: 0.5em;
}

/* editing area */
textarea {
  width: 100%;
  display: block;
  outline: none;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2em;
  border: 1px solid black;
  resize: none;
  height: 50vh;
  border-radius: 2px;
  box-sizing: border-box;
}

input {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 2px;
  box-sizing: border-box;
}

.btn {
  cursor: pointer;
}

.btn + .btn {
  margin-left: 0.5em;
}

i {
  font-size: 1.2em;
}

.card-content + .card-content {
  margin-top: 0.5em;
}

/* dark mode :) */
@media (prefers-color-scheme: dark) {
  html, body {
    background: black;
    color: white;
  }

  a {
    color: white;
  }

  .grid-card {
    background: black;
    border: 1px solid white;
    box-shadow: none;
  }

  .expand-icon-outer {
    color: white;
  }

  textarea {
    color: white;
    background: black;
    border: 1px solid white;
  }

  input {
    color: white;
    background: black;
    border: 1px solid white;
  }
}

